
body{
  background-color: #ffffff;
}

.footer-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-shadow: 5px 5px #000000;
  color: white;
}

.icon {
  float: right;
  padding: 15px;
  height: 75px;
  width: 70px;
}

.navbar-item {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.home-text2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 136px;
  text-shadow: 3px #000000;
  color: black;
  text-align: center;
}


.para-center {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  padding: 20px;
}
.about-text {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.about-text2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  text-shadow: 3px #000000;
  color: black;
}

.about-text-sub {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  text-shadow: 1px #000000;
  color: black;
}

.about-box {
  padding: 90px;
}

.about-gospelpic {
  float: left;
  height: 830px;
  width: 630px;
  padding: 80px;
}

.artist-image {
  height: 450px
}

.artist-image2 {
  height: 465px
}

.artist-image3 {
  height: 450px
}

.footer {
  background-color: #252525;
  position: absolute;
  bottom: 10;
  width: 100%;
  height: 2.5rem;
}

img{ 
  width: 520px;
}

.dj-photo {
  width: 1600px;
  height: 600px;
}
.card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.card {
  width: 26rem;
  height: 46rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);

}

@media screen and (min-width: 700px){
  .card-wrapper{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }

  .card {
      margin: 1rem;
  }

  @keyframes fadeIn {
      from{
          opacity: 0;
      }
      to{
          opacity: 1;
      }
  }
  .card:nth-child(1){
          animation: fadeIn .5s .5s backwards;
      }
  .card:nth-child(2){
      animation: fadeIn .5s .5s backwards;
  }
  .card:nth-child(3){
      animation: fadeIn .5s .5s backwards;
  }
}

